metrics:
  enabled: true
  serviceMonitor:
    enabled: false
  prometheusRule:
    enabled: false
controller:
  ingressClassResource:
    default: true
  podAnnotations:
    instrumentation.opentelemetry.io/inject-nginx: "ingress-nginx/opentelemetry"
    sidecar.opentelemetry.io/inject: "true"
  config:
    enable-opentelemetry: "true"
    otlp-collector-host: "localhost"
    otlp-collector-port: "4317"
    otel-service-name: "ingress-nginx"
    otel-trust-incoming-span: "true"
    otel-propagate-trace-context: "true"